<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">



<!-- Fonts
    ================================================== -->
<link rel="stylesheet" type="text/css" href="css/fonts/open_sans.css" />
<link rel="stylesheet" type="text/css" href="css/fonts/typicons.css" />
<!-- Style
    ================================================== -->
<link rel="stylesheet" href="css/imixs-basic.css" />
<link rel="stylesheet" href="css/imixs-layout.css" />
<link rel="stylesheet" href="css/custom.css" />


</head>
<body>


	<div class="title-bar">

		<div id="imixs-logo"></div>
		<div id="imixs-branding">
			<h1>Imixs-Workflow</h1>
			<p>MVC 1.0 Sample Application</p>
		</div>
	</div>



	<div class="topnav">
		<a class="active" href="#home"><span class="typcn typcn-home"></span>Home</a>
		<a href="#contact"><span class="typcn typcn-tag"></span>New Ticket</a>
		<a href="#news"><span class="typcn typcn-group-outline"></span>Teams</a>
		<a href="#about" class="pull-right"><span
			class="typcn typcn-social-github"></span>Github</a>
	</div>

	<div id="imixs-content">
		<h2>Top Navigation Example</h2>
		<p>Some content..</p>
	</div>


	<div id="imixs-footer">Version 1.0</div>
</body>
</html>
